.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  color: #233241;
}

.descricao {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
  color: #233241;
}


/* grid */
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image text";
  gap: 40px;
  margin: 60px 0;
  align-items: center;
}

/* imagem na direita */
.reverse {
  grid-template-areas: "text image";
}

.image {
  grid-area: image;
  display: flex;
  justify-content: center;
}

.text {
  grid-area: text;
}

.text h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color:#233241
}

.text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #233241;
}

/*responsivo mobile */
@media (max-width: 830px) {
  .card,
  .reverse {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text";
    text-align: center;
  }

  .image img {
    max-width: 80%;
  }
}
