.header {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.login-btn {
  text-decoration: none;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 65px;
  width: auto;
  object-fit: contain;
}

/* Navegação principal */
.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-list li a {
  color: #222;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-list li a:hover {
  color: #f25c05;
}

/* Botão de menu pra mobile */
.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* Área à direita */
.right-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Responsivo */
@media (max-width: 768px) {
  .nav-list {
    position: absolute;
    padding-top: 0.6rem;
    padding-bottom: 0.7rem;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    display: none;
  }

  .nav.open .nav-list {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}