.tabela {
     min-width: 25%;
     width: 25%, auto;
     border-collapse: collapse;

     font-family: Arial, sans-serif;
     height: 100%;

}

.celula {
     border: 1px solid black;
     background-color: rgb(173, 244, 255);

}