.tabela {
     height: 0vh;
     border-collapse: separate;
     font-family: Arial, sans-serif;
     display: flex;
     justify-content: center;
     /* eixo horizontal */
     align-items: center;
     /* eixo vertical */
     height: 10vh;
     /* ocupa a tela toda, se quiser */
     flex-direction: column;
     padding: 20%
}

.celula {
     border: 1px solid black;
     background-color: rgb(173, 244, 255);
     min-width: fit-content;
     width: 20vw;


}

.div_button {
     display: flex;
     gap: 20px;
     flex-direction: row;
     justify-content: center;

}