.container {
  max-width: 1500px;
  margin: auto;
  padding: 4rem 2rem;
  background: white;  
  /*cor cinza bem claro para o background para decidir #f9fafb */
}

.titulo {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 700;
  color: #111;
}

.planosGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-4px);
}

.card h2 {
  color: #111;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.preco {
  font-size: 1.6rem;
  font-weight: bold;
  color: #0070f3;
  margin-bottom: 0.5rem;
}

.descricao {
  color: #444;
  margin-bottom: 1rem;
  min-height: 60px;
}

.info_adicional {
    color: #444;
    padding-bottom: 2rem;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem 0;
}

.card li {
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.botao {
  background: #0070f3;
  font-size: 18px;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}
.botao:hover {
  background: #0059c1;
}

.remover {
  margin-top: 10px;
  background: #eee;
  color: #333;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
}
.remover:hover {
  background: #ddd;
}

/* Card informativo abaixo */
.infoExtra {
  margin-top: 5rem;
  background: #0070f3;
  color: white;
  border-radius: 20px;
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.infoTexto {
  max-width: 500px;
}

.infoTexto h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.infoTexto ul {
  list-style: none;
  padding: 0;
}

.infoTexto li {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.infoImagem {
  text-align: center;
}

.infoImagem img {
  border-radius: 12px;
  max-width: 280px;
  margin-bottom: 1rem;
}
